@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
:root {
  --main-bg-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --cyan: hsl(178, 100%, 50%);
  --light-cyan: hsl(178, 100%, 50%, 50%);
  --soft-blue: hsl(215, 51%, 70%);
}
* {
  font-family: "Outfit", sans-serif;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}
body {
  background: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.card {
  border-radius: 10px;
}
.light-text {
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}
.text-margin {
  margin: 20px 25px;
}
.flex-item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#outer-shadow {
  background-color: #0c182d;
  width: 430px;
  height: 760px;
  border-radius: 20px;
}
#dim-shadow {
  background-color: #0c1628;
  width: 390px;
  height: 640px;
  border-radius: 20px;
}
#main-card {
  background-color: var(--card-bg-color);
  width: 350px;
  height: 580 px;
  padding: 20px 0 0 0;
}
#image-card {
  width: 300px;
  height: 300px;
  margin: auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
#image-card:hover {
  cursor: pointer;
}
#image-card:hover > img:last-child {
  visibility: visible;
}
#image-card img:first-child {
  position: inherit;
  width: 100%;
  height: 100%;
}
#image-card img:last-child {
  visibility: hidden;
  top: 120px;
  left: 127px;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--light-cyan);
  box-shadow: 0 0 0 150px var(--light-cyan);
}
#nft-description {
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 0;
}
#stats {
  display: flex;
  justify-content: space-between;
}
#stats > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#eth span {
  color: var(--cyan);
  font-weight: 600;
  margin-left: 5px;
}
#time img {
  margin-right: 5px;
}
#footer {
  display: flex;
  align-items: center;
}
#footer img {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 500px;
  object-fit: cover;
}
#footer p {
  margin-left: 20px;
  font-weight: 400;
}
#footer p span {
  color: white;
  font-weight: 600;
}
#footer p span:hover {
  color: var(--cyan);
  cursor: pointer;
}
h1 {
  color: white;
  font-size: 20px;
  display: inline-flex;
}
h1:hover {
  color: var(--cyan);
  cursor: pointer;
}
hr {
  width: 305px;
  height: 1px;
  background-color: var(--line-color);
  border-style: none;
}
